<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="/js/tl.js"></script>
    <link rel="stylesheet" href="/lib/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/lib/aos/aos.css">

    <link
        href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;600;700;800&family=Plus+Jakarta+Sans:wght@400;500;600;700&family=Instrument+Serif:ital@1&display=swap"
        rel="stylesheet">
    <script src="/lib/aos/aos.js"></script>

    <title>Dashboard</title>
</head>

<body>
    <div class="flex min-h-screen ">
        <sidebar class="bg-(--ink) sticky h-screen top-0  md:w-sm text-(--sand) hidden md:flex md:flex-col py-2 px-4 ">
            <div class="flex items-center  border-b-2 border-white/20"><i class="fa-classic fa-leaf fa-xl"></i> <p class="ml-4 text-amber-400 font-bold font-accent text-[20pt]">Somia</p></div>
            <a href="#main" class="w-full h-fit py-2 hover:bg-emerald-900 p-2 transition duration-500 rounded ease-in-out cursor-pointer nav-link"> <i class="fa-solid fa-receipt fa-lg mr-4"></i> Ringkasan</a>
            <a href="#riwayat" class="w-full h-fit py-2 hover:bg-emerald-900 p-2 transition duration-500 rounded ease-in-out cursor-pointer nav-link"> <i class="fa-solid fa-history fa-lg mr-4"></i> Riwayat</a>
            <a href="#favorit" class="w-full h-fit py-2 hover:bg-emerald-900 p-2 transition duration-500 rounded ease-in-out cursor-pointer nav-link"> <i class="fa-solid fa-star fa-lg mr-4"></i> Favorit</a>
            <a href="#profil" class="w-full h-fit py-2 hover:bg-emerald-900 p-2 transition duration-500 rounded ease-in-out cursor-pointer nav-link"> <i class="fa-solid fa-user fa-lg mr-4"></i> Profil</a>

            <div class="w-full h-fit py-2 hover:bg-emerald-900 p-2 transition duration-500 rounded ease-in-out mt-auto border-t cursor-pointer"> <i class="fa-solid fa-sign-out fa-lg mr-4"></i>Keluar</div>

        </sidebar>
        <div class="bg-(--sand) w-full p-8 md:px-[8%] lg:px-[12%]">
            <h1 class="text-2xl md:text-[24pt] mb-8 font-bold">Profile</h1>
            <main class="bg-white rounded-md p-4" id="main">
                <!-- nama  -->
                <div class="flex justify-between items-center">
                    <div>
                        <p>Selamat datang kembali</p>
                        <h1 class="text-2xl">John Doe . <span class="text-amber-800">Pemilah Handal</span></h1>
                    </div>
                    <img class="w-20 h-20 border-2 rounded-full border-(--moss)"
                        src="https://api.dicebear.com/10.x/lorelei/svg?seed=Felix" alt="">
                </div>

                <form>
                    label+in
                </form>
                <!-- info -->
                <!-- <div class="flex gap-4 mt-4">
                    <p
                        class="text-center flex-1 bg-white rounded-md h-28 py-4 shadow-lg text-[18pt] text-amber-800 font-accent">
                        10 <br> <span class="text-(--ink) text-sm md:text-md">kg terpilah.</span></p>
                    <p
                        class="text-center flex-1 bg-white rounded-md h-28 py-4 shadow-lg text-[18pt] text-amber-800 font-accent">
                        25 <br> <span class="text-(--ink) text-sm md:text-md">hari beruntun.</span></p>
                    <p
                        class="text-center flex-1 bg-white rounded-md h-28 py-4 shadow-lg text-[18pt] text-amber-800 font-accent">
                        850 <br> <span class="text-(--ink) text-sm md:text-md">poin voucher.</span></p>
                </div> -->

                <!-- wrapped -->
                <!-- <div
                    class="bg-(--ink) rounded-md p-8 min-w-64 flex h-28 justify-between items-center gap-4 mx-auto mt-8 h-fit">
                    <div class="mb-4">
                        <p class="text-stone-500 font-bold ">ECO WRAPPED</p>
                        <h2 class="text-(--sand) mt-2 font-bold text-xl">Bagikan progress minnguanmu.</h2>
                    </div>
                    <button class="bg-(--turmeric) h-fit bg-semibold">Lihat Wrapped</button>
                </div> -->
            </main>

            
        </div>
</body>

</html>