<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/lib/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/lib/swiper/swiper-bundle.css">
    <script src="/js/tl.js"></script>
    <link rel="shortcut icon" href="/assets/icon.ico" type="image/x-icon">
    <title> Eco-wrapped - Somia </title>

    <style>

    </style>
</head>

<body>
    <div class="w-full h-screen bg-stone-950 relative justify-center flex items-center">
        <div class="absolute top-2 right-2 ">
            <button onclick="swiper.slideTo(5)"
                class="btn bg-(--turmeric) w-24 text-(--ink) text-sm font-semibold z-50">Lewati</button>
            <button type="button" onclick="window.history.go(-1)"
                class=" !shadow-none right-2 hover:bg-stone-700/20 transition transition-all duration-500"><i
                    class="fa-solid fa-x text-stone-300"></i></button>
        </div>
        <main class=" w-sm md:w-md max-w-[90vw] max-h-[90vh] aspect-[9/20]">
            <div class="swiper w-full h-full">
                <div class="swiper-wrapper text-(--sand) ">
                    <div
                        class="swiper-slide bg-(--ink) !flex flex-col items-center text-center  justify-center space-y-4">
                        <h2 class="text-[24pt] font-accent font-bold tracking-widest">Wrapped kamu <br> September 2026
                        </h2>
                        <p class="opacity-70 mt-2 text-sm tracking-wide">Geser untuk melihat lebih lanjut &rarr;</p>
                    </div>

                    <div
                        class="swiper-slide bg-(--moss) !flex flex-col items-center text-center  justify-center swiper-totalwaste">
                        <h2 class="text-2xl font-accent md:text-[20pt] text-center">Bulan ini kamu berhasil
                            memilah
                        </h2>
                        <p class="text-5xl md:text-6xl font-accent font-bold tracking-widest"
                            id="totalWaste">
                        </p>
                        <p class="opacity-80 mt-2 font-semibold text-lg tracking-wide">Kg terpilah</p>

                    </div>

                    <div
                        class="swiper-slide bg-amber-800 !flex flex-col items-center text-center  justify-center swiper-daystreak">
                        <h2 class="text-2xl font-accent md:text-[20pt] text-center">Kamu berhasil
                            memilah selama
                        </h2>
                        <p class="text-5xl md:text-6xl font-accent font-bold tracking-widest"
                            id="streak">
                        </p>
                        <p class="opacity-80 mt-2 font-semibold text-lg tracking-wide">Hari beruntun</p>
                    </div>

                    <div
                        class="swiper-slide bg-(--ink) !flex flex-col items-center text-center  justify-center swiper-badge">
                        <h2 class="text-2xl font-accent md:text-[20pt] text-center">Kamu adalah
                        </h2>
                        <p class="text-[28pt] font-accent font-bold tracking-widest items-center">
                            <i class="fa-solid fa-crown text-(--turmeric) "></i>
                            <span id="badge"></span>
                        </p>
                    </div>

                    <div
                        class="swiper-slide bg-(--clay) !flex flex-col items-center text-center  justify-center space-y-8">
                        <p class="text-xl font-accent font-semibold tracking-tight">Terima kasih sudah memilah! </p>
                        <h2 class="text-2xl font-accent w-full font-bold tracking-widest" id="summary"></h2>
                        <div class="flex gap-4">
                            <button class="flex-1 bg-(--ink)"> <i class="fa-solid fa-share mr-2  "></i>Bagikan</button>
                            <button class="flex-1 bg-(--ink)" onclick="window.open('dashboard.html', '_self')"> <i
                                    class="fa-solid fa-arrow-right mr-2"></i>Kembali</button>
                        </div>
                    </div>

                </div>

                <div class="swiper-button-prev !opacity-0 bg-white !h-full -translate-y-[50%]"></div>
                <div class="swiper-button-next !opacity-0 bg-white !h-full -translate-y-[50%]"></div>
                <div class="swiper-pagination "></div>
            </div>
        </main>

    </div>
    <script src="/lib/swiper/swiper-bundle.js"></script>
    <script src="/js/main.js"></script>
    <script src="/lib/gsap/gsap.min.js"></script>
    <script src="/lib/gsap/ScrambleTextPlugin.min.js"></script>
    <script>
        let swiper = new Swiper('.swiper', {
            grabCursor: true,
            loop: true,
            pagination: {
                el: '.swiper-pagination',
                type: 'progressbar',
                clickable: true
            },
            autoplay: { delay: 5000},
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev'
            },
            on: {
                slideChange: function () {
                    let activeSlide = this.el.querySelectorAll('.swiper-slide')[this.activeIndex]
                    if (activeSlide.classList.contains('swiper-totalwaste')) {
                        let obj = { val: 0 }
                        gsap.to(obj, {
                            duration: 1.5,
                            val: inven.user.totalWaste,
                            ease: 'power2.out',
                            snap: { val: 0.1 },
                            onUpdate: () => {
                                document.getElementById('totalWaste').innerText = obj.val
                            }
                        })
                    }

                    if (activeSlide.classList.contains('swiper-daystreak')) {
                        let obj = { val: 0 }
                        gsap.to(obj, {
                            duration: 1.5,
                            val: inven.user.dayStreak,
                            ease: 'power2.out',
                            snap: { val: 1 },
                            onUpdate: () => {
                                document.getElementById('streak').innerText = obj.val
                            }
                        })
                    }

                    if (activeSlide.classList.contains('swiper-badge')) {
                        gsap.to('#badge', { duration: 2, scrambleText: inven.user.badge })
                    }
                }
            }
        })
        document.getElementById('summary').innerHTML = `${inven.user.totalWaste}kg &middot; ${inven.user.dayStreak} hari <br> <span> <i class="text-yellow-300 fa-solid fa-crown fa-lg"></i> ${inven.user.badge} </span>`

    </script>
</body>

</html>