<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/lib/aos/aos.css">
    <link rel="stylesheet" href="../lib/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">
<script src="/js/tl.js"></script><link rel="shortcut icon" href="/assets/icon.svg" type="image/svg+xml">    <title>Masuk - Somia</title>
</head>

<body>
    <main class="p-6 md:p-12 min-h-screen max-w-6xl mx-auto flex">
        <div data-aos="fade-up"
            class="grid md:grid-cols-2 bg-white md:w-full shadow-xl rounded-xl items-center self-center mx-auto  rounded-xl overflow-hidden">

            <div id="form" class="bg-(--ink) text-(--sand) py-24 px-8 h-full lg:px-12 grid max-w-md md:max-w-full ">
                <div>
                    <h1 class="text-xl font-bold ">MASUK</h1>
                    <p class="text-white/70 font-semibold tracking-[.1rem] mt-2 text-xs">Silahkan masuk dengan akun
                        Somia.</p>
                </div>
                <form class="mt-8 space-y-4">
                    <label for="email" class="text-sm font-semibold tracking-wider">Email</label>
                    <input type="email"
                        class="bg-white text-sm rounded mt-1 w-full text-black mb-4 px-4 py-2 focus:shadow-lg focus:shadow-white/40 "
                        placeholder="Masukkan email anda." required id="email">

                    <label for="password" class="text-sm font-semibold tracking-wider ">Password</label>
                    <input type="password"
                        class="bg-white text-sm rounded mt-1 w-full text-black px-4 py-2 focus:shadow-lg focus:shadow-white/40 "
                        placeholder="Masukkan password anda." required id="email">
                    <div class="flex justify-between flex-wrap text-sm font-semibold items-center">
                        <label><input type="checkbox" name=""> Remember me</label>
                        <p class="text-amber-400">Lupa password?</p>
                    </div>
                </form>
                <div class="grid h-fit self-end">
                    <button type="button" class=" w-full bg-(--moss) font-bold h-fit tracking-widest "
                        onclick="window.open('/views/logged/dashboard.html', '_self')">Masuk</button>
                    <p class="text-sm text-center text-pretty">Belum memiliki akun? <a
                            class="text-(--turmeric) font-semibold underline" href="/views/register.html">Daftar
                            disini.</a></p>
                </div>
            </div>
            <div id="form-img" class="hidden md:block py-24 px-4">
                <div class="flex"><img src="/assets/icon.svg" alt="">
                    <p class="ml-2 text-amber-500 font-bold font-accent text-[20pt]">Somia</p>
                </div>
                <img src="/assets/login.svg" alt="">
            </div>
    </main>
    <script src="/lib/aos/aos.js"></script>
    <script>
        AOS.init()
    </script>
</body>

</html>