<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Masuk ke akun Somia untuk memantau progres pemilahan sampahmu, klaim voucher, dan lihat bank sampah terdekat.">
    <link rel="stylesheet" href="/lib/aos/aos.css">
    <link rel="stylesheet" href="/lib/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <script src="/js/tailwind.js"></script>
    <link rel="shortcut icon" href="/assets/icon.ico" type="image/x-icon">
    <title>Masuk - Somia</title>
</head>

<body>
    <main class="flex mx-auto p-6 md:p-12 max-w-6xl min-h-screen">
        <div data-aos="fade-up" class="items-center self-center grid md:grid-cols-2 bg-white shadow-xl mx-auto rounded-xl md:w-full overflow-hidden">
            <!-- ================ FORM ================ -->
            <div id="form-login" class="bg-(--ink) text-(--sand) py-24 px-8 h-full lg:px-12 grid max-w-md md:max-w-full ">
                <div>
                    <h1 class="font-bold text-xl">MASUK</h1>
                    <p class="mt-2 font-semibold text-white/70 text-xs tracking-[.1rem]">Silahkan masuk dengan akun Somia.</p>
                </div>
                <form class="space-y-4 mt-8">
                    <label for="email" class="font-semibold text-sm tracking-wider">Email</label>
                    <input type="email"
                        class="bg-white focus:shadow-lg focus:shadow-white/40 mt-1 px-4 py-2 rounded w-full text-black text-sm"
                        placeholder="Masukkan email anda." required id="email">
                    <label for="password" class="font-semibold text-sm tracking-wider">Password</label>
                    <input type="password"
                        class="bg-white focus:shadow-lg focus:shadow-white/40 mt-1 px-4 py-2 rounded w-full text-black text-sm"
                        placeholder="Masukkan password anda." required id="password">
                    <p id="error-msg" class="font-semibold text-red-400 text-xs"></p>

                    <div class="flex flex-wrap justify-between items-center font-semibold text-sm">
                        <label><input type="checkbox" name=""> Remember me</label>
                        <p class="text-amber-400">Lupa password?</p>
                    </div>
                </form>
                <div class="self-end grid h-fit">
                    <button type="button" class=" w-full bg-(--moss) font-bold h-fit tracking-widest" id="submit-btn">Masuk</button>
                    <p class="text-sm text-center text-pretty">Belum memiliki akun? 
                        <a class="text-(--turmeric) font-semibold underline" href="/views/register.html">Daftar disini.</a>
                    </p>
                </div>
            </div>
            
            <!-- ================ IMAGE ================ -->
            <div id="form-img" class="hidden md:block px-4 py-24">
                <div class="flex"><img  width="32"  height="32" src="/assets/icon.svg" alt="" class="flex self-center" alt="logo">
                    <p class="ml-2 font-accent font-bold text-[20pt] text-amber-500">Somia</p>
                </div>
                <img width="400" height="300" src="/assets/login.svg" alt="">
            </div>
        </div>
    </main>
    <script src="/js/script.js"></script>
    <script src="/lib/aos/aos.js"></script>
    <script>
        //DEKLARASI VARIABEL
        const emailInput = document.getElementById('email')
        const passInput = document.getElementById('password')
        const errMsg = document.getElementById('error-msg')

        //VALIDATE INPUT WHEN CLICK SUBMIT BUTTON
        document.getElementById('submit-btn').addEventListener("click", () => {
            errMsg.classList.add('hidden')

            if (!emailInput.value || !emailInput.checkValidity()) {
                errMsg.textContent = "Silahkan masukkan email yang valid."
                errMsg.classList.remove('hidden')
                emailInput.focus()
                return
            }

            if (!passInput || passInput.value.length < 8) {
                errMsg.textContent = "Password minimal 8 karakter."
                errMsg.classList.remove('hidden')
                passInput.focus()
                return
            }
            window.open('/views/logged/dashboard.html', '_self') //REDIRECT TO DASHBOARD
        })
    </script>
</body>

</html>